streamlit
streamlit_option_menu
streamlit_lottie
boto3
pandas
matplotlib
numpy>1.26.2
scikit-learn
bertopic
gensim
nltk
networkx
requests
altair
seaborn
plotly
umap
scipy<1.13
hyperopt
scikit-optimize
langchain
langchain-community
langchain-aws
faiss-cpu
