pandas==2.1.1
numpy==1.26.0
matplotlib==3.8.0
seaborn==0.13.0
plotly==5.18.0
streamlit==1.45.0
Pillow==10.1.0
scikit-learn>=1.3.0
streamlit_drawable_canvas
uuid==1.30
joblib>=1.3.0
xgboost==2.0.3
shap>=0.44.0
imblearn
boto3
